.team-bg-pic{
    background-image: url('../img/bg/mushroom.png'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: 30% 50% ; 
    /* opacity: 0.95; */
  }

  #mainNav {
    font-size: 14px;
  }

  #mainNav.navbar-shrink {
    /* background-color: #fff; */
    background-color: #6975b3;
    /* E5A353 */
    /* 78AEFC */
    /* 576DDB */
  }

  #mainNav.navbar-shrink .nav-link {
    color: #252525;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
    font-size: 14px;
  }

  #mainNav.navbar-shrink .nav-link:hover {
    color: #b289b3;
  }

  .gray-text{
    color: #322e29;
  }

  .icon{
    color: #6975b3 !important;
  }

  .icon-spec{
    /* color: #8d96c6 !important; */
    color: #6c91be !important;
  }

  .footer-text{
    color: #8a95ce;
    font-size: 10px;
  }

  .updown-animation{
    animation-name: infiniteupdown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
  }

  @keyframes infiniteupdown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust as needed */
    }
    100% {
        transform: translateY(0);
    }
  }

  .text-center{
    position: relative;
  }

  .column1{
    position: absolute; 
    top: 350px; 
    left: 340px; 
    transform: skew(6deg);
  }

  .column2{
    position: absolute; 
    top: 90px; 
    right: 90px; 
    transform: skew(-2deg);
    opacity: 86%;
  }

  .column3{
    position: absolute; 
    top: 30px; 
    left: 90px; 
    transform: skew(3deg);
  }